
@media screen and (min-width: 350px) {
    /* Adjust styles for screens with a maximum width of 768px */
   
    #profile,
    #group {
        padding: 10px;
    }

    #votebtn1,
    #votebtn {
        font-size: 12.5px;
    }
    .photo{
        height: fit-content;
        width: 45%;
    }
    #head h1{
        font-size: 23px;
    }
    #head button{
        font-size: 11px;
    }
    #profile,#group  b{
        font-size: 13px;
    }

} 
