

@media screen and (min-width: 375px) {

    .form {
        max-width: 600px;
    }
    #photo{
        width: 400px;
    }
    #photo1{
        width: 400px;
    }
    textarea{
        width: 100px;
    }
}