*{
    text-decoration: none;
}
body{
    background-color: #b8e994;
}
#head{
    padding: 10px;
}
#head h2{
    font-family: cursive;
}

input{
    padding: 10px;
    border-radius: 5px;
}
#dropbox{
    width: 12.3%;
    padding: 10px;
    border-radius: 5px;
}
#logbtn{
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
}
#votebtn{
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    background-color: green;
    color: #fff;
}
#backbtn{
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    float: left;
    margin-top: 20px;
}
#outbtn{
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    float: right;
    margin-top: 20px;
}
#votebtn1{
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
}
textarea{
    padding: 7px;
    width: 24%;
    border-radius: 5px;
    border: 1.5px solid black;
}


#dropbox1{
   padding: 10px;
}
#profile{
    background-color: #fff;
    width: 32%;
    padding: 25px;
    float: left;
}
#group{
    background-color: #fff;
    width: 55%;
    padding: 25px;
    float: right;
}
#mainsection #profile,#group{
    margin-top: 20px;
}



@media screen and (min-width: 350px) {
    /* Adjust styles for screens with a minimum width of 600px and above */
    #body {
        max-width: 600px;
    }
    #dropbox {
        max-width: 200px; /* Set a maximum width */
        width: 100%; /* Take 100% width within the parent container */
        padding: 10px;
        border-radius: 5px;
        box-sizing: border-box; /* Include padding in the total width */
    }
    
}